html, body {
  margin: 0;
  padding: 0;
  color: greenyellow;
  background: black;
  font-family: 'Orbitron', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
img:hover{
  transform:scale(1.5);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main_content{
  margin: 3rem;
}
.main_content h1{
  font-size: 4.5rem;

}
.main_content p{
  font-size: 2rem;

}
.padding {
  padding-top: 5em;
}

.typing {
  width: 100%;
  animation: typing 3s,blink .5s infinite;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

header {
  height: auto;
  background: black;
  line-height: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  opacity: 0.8;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#logo {
  color: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

#main {
  background:black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main .container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
-ms-flex-pack: center;
    justify-content: center;
  text-align: center;
  transform: translate(-50,-50);
}

#hero-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

#trivia {
  font: italic 14pt Arial;
  font-size: 2.5rem;
}

#trivia:hover{
  font: italic 14pt Arial;
  font-size: 2.5rem;
}

#showLine{
  font-family: 'Orbitron', sans-serif;
  background-color: greenyellow;
  font-weight: bold;
  color: black;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

#showLine:hover{
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: greenyellow;
  border: 2px solid greenyellow;
  font-weight: bold;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;

}

.not_visible {
  display: none;
}
@media  (max-width: 767px) {
  .header{
      text-align : center;
  }

  .not_visible {
      display: inline;
  }                                                                                                                          

 .nav{
      margin-top : 30px;
 }
}

footer {
  width: 100%;
  color: greenyellow;
  background: black;
  text-align:center;
  padding: 1em 0;
}